<header>
  Header fullcalendar api
</header>

<main>
  <router-outlet></router-outlet>

  <full-calendar
      #fullCalendarComp
      [views]="views"
      [allDaySlot]="false"
      [slotEventOverlap]="false"
      [plugins]="calendarPlugins"
      [events]="events"
      [draggable]="true"
      [editable]="true"
      [columnHeaderHtml]="columnHeaderRendered"
      (eventRender)="eventRenderHandler($event)"
      (contextmenu)="contextMenuHandler($event)"
      (eventClick)="eventClickHandler($event)"
      (dateClick)="dateClickHandler($event)"
  ></full-calendar>

  <context-menu #contextMenuCalendar (close)="closeContextMenuHandler($event)">
    <ng-template contextMenuItem let-item>
      Current date: {{ item.currentDate }}
    </ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>

    <ng-template contextMenuItem let-item>
      Current time: {{ item.currentTime }}
    </ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>

    <ng-template contextMenuItem let-item>
      Right click on: {{ item.clickedOn }}
    </ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>
  </context-menu>

  <context-menu #contextMenuEvent (close)="closeContextMenuHandler($event)">
    <ng-template contextMenuItem let-item>
      Current date: {{ item.currentDate }}
    </ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>

    <ng-template contextMenuItem let-item>
      Current event id: {{ item.currentEvent.id }}
    </ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>

    <ng-template contextMenuItem let-item>
      Right click on: {{ item.clickedOn }}
    </ng-template>

    <ng-template contextMenuItem divider="true"></ng-template>
  </context-menu>
</main>
